#Secrets and passwords
.env
.env.local

# Python virtual environments
venv/
.venv/
env/
.env/

# Python compilation files
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Temporary files
tmp.txt
.DS_Store
